<ng-container *ngIf="eventSyncerService.funscript.actions.length > 0">
  <div style="display: flex; justify-content: space-between; margin-top: 10px;">
    <span>{{msToTime(eventSyncerService.currMediaTime)}}</span>
    <span>{{msToTime(eventSyncerService.funscript.actions[eventSyncerService.funscript.actions.length - 1].at)}}</span>
  </div>


  <div style="display: grid; grid-template-columns: auto 1fr; margin-top: 10px; grid-gap: 5px;">
    <button *ngIf="(eventSyncerService.stopWatch.control$ | async) === 'START'; else pauseBtn" nz-button
            nzType="default"
            (click)="eventSyncerService.onPausedChange(true)">
      <i nz-icon nzType="pause-circle"></i>
    </button>


    <nz-slider (nzOnAfterChange)="eventSyncerService.onSeekedChange($event)"
               [ngModel]="eventSyncerService.currMediaTime"
               [nzMax]="eventSyncerService.funscript.actions[eventSyncerService.funscript.actions.length - 1].at"
               [nzTipFormatter]="formatter"></nz-slider>
  </div>


</ng-container>


<ng-template #pauseBtn>
  <button nz-button nzType="default"
          (click)="eventSyncerService.onPausedChange(false)">
    <i nz-icon nzType="play-circle"></i>
  </button>
</ng-template>
