<nz-card style="width: 600px; margin-top: 25px">
  <div class="grd">
    <button
      nz-button
      nzType="primary"
      [disabled]="!buttPlug.HasWebBluetooth"
      (click)="buttPlug.ConnectInBrowser()"
    >
      {{
        buttPlug.HasWebBluetooth
          ? "Connect In Browser"
          : "Requires WebBluetooth"
      }}
    </button>

    <ng-container>
      <button
        nz-button
        nzType="primary"
        [disabled]="!(buttPlug.isConnected | async)"
        (click)="buttPlug.Disconnect()"
      >
        Disconnect
      </button>

      <button
        nz-button
        nzType="primary"
        [disabled]="!(buttPlug.isConnected | async)"
        (click)="buttPlug.ToggleScanning()"
      >
        {{ buttPlug.isScanning ? "Stop Scanning" : "Start Scanning" }}
      </button>
    </ng-container>

    <span *ngIf="buttPlug.isConnecting">Connecting to device...</span>
  </div>
</nz-card>
