<button
  mat-stroked-button
  [disabled]="!buttPlug.HasWebBluetooth"
  (click)="buttPlug.ConnectInBrowser()"
>
  {{
    buttPlug.HasWebBluetooth ? "Connect In Browser" : "Requires WebBluetooth"
  }}
</button>

<ng-container>
  <button
    mat-stroked-button
    [disabled]="!(buttPlug.isConnected | async)"
    (click)="buttPlug.Disconnect()"
  >
    Disconnect
  </button>

  <button
    mat-stroked-button
    [disabled]="!(buttPlug.isConnected | async)"
    (click)="buttPlug.ToggleScanning()"
  >
    {{ buttPlug.isScanning ? "Stop Scanning" : "Start Scanning" }}
  </button>
</ng-container>

<span *ngIf="buttPlug.isConnecting">Connecting to device...</span>
