<ng-container *ngIf="fsFile.actions.length > 0">
  <div style="display: flex; justify-content: space-between; margin-top: 10px;">
    <span>{{msToTime(currPos)}}</span>
    <span>{{msToTime(fsFile.actions[fsFile.actions.length - 1].at)}}</span>
  </div>


  <div style="display: grid; grid-template-columns: auto 1fr; margin-top: 10px; grid-gap: 5px;">
    <button nz-button nzType="default" (click)="handlePause()"><i nz-icon
                                                                  [nzType]="pause.value ? 'play-circle' : 'pause-circle'"></i>
    </button>

    <nz-slider (mouseenter)="handlePause(true)" (touchmove)="handlePause(true)" (mouseleave)="handlePause()"
               (touchend)="handlePause()" (nzOnAfterChange)="handleControl($event)" [ngModel]="currPos"
               [nzMax]="fsFile.actions[fsFile.actions.length - 1].at" [nzTipFormatter]="formatter"></nz-slider>
  </div>


</ng-container>
