<div class="flex w-full">
    <h2 class="text-base md:text-lg whitespace-nowrap">Upload Audio or Video</h2>
    <span class="ml-auto hidden md:inline">Accepts local audio, video or streaming URL</span>
</div>

<div class="flex flex-col gap-4">
  <!-- File Upload -->
  <div>
    <nz-upload
      nzType="drag"
      nzAccept="audio/*,video/*"
      [nzCustomRequest]="customRequest"
      [nzShowUploadList]="false"
      (nzChange)="handleFileUpload($event)"
    >
      <p class="ant-upload-drag-icon">
        <span nz-icon nzType="upload"></span>
      </p>
      <p class="ant-upload-text">Audio/Video Upload</p>
    </nz-upload>
  </div>

  <!-- URL Input -->
    <div class="flex flex-col md:flex-row items-stretch md:items-center gap-2 w-full">
    <input
        nz-input
        placeholder="https://test-streams.mux.dev/x36xhzz/x36xhzz.m3u8"
        [(ngModel)]="sourceUrl"
        class="flex-grow"
    />
        <button nz-button nzType="primary" (click)="onUrlSubmit()" class="w-full md:w-auto">Load URL</button>
    </div>

  <!-- Loaded Video Notification -->
  <div class="flex items-center mt-2 overflow-x-auto" *ngIf="mediaFileName">
    <nz-tag nzColor="success" class="flex items-center">
      <span class="md:text-lg">
        <span nz-icon nzType="check-circle"></span>
        <span class="ml-2">
          Loaded
          {{ "video: " + mediaFileName }}
        </span>
      </span>
    </nz-tag>
    <button
      nz-button
      nzType="default"
      nzShape="circle"
      nzDanger
      class="ml-2"
      (click)="deleteMedia()"
      aria-label="Delete Video Button"
    >
      <span nz-icon nzType="delete"></span>
    </button>
  </div>
</div>
