  <div class="container">
    <input
      type="file"
      style="display: none"
      #videoInput
      accept="video/*"
      (change)="onChangeFileInput()"
    />
    <br />

    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <button
          nz-button
          nzType="primary"
          class="file-select-button"
          [disabled]="
            (userInputService.funscriptFile | async)?.name?.length == 0
          "
          (click)="onClickFileInputButton()"
        >
          Select video
        </button>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <form
          style="display: inline-block"
          nz-form
          [formGroup]="userInputService.urlForm"
          (ngSubmit)="submitURL()"
          (change)="cdr.markForCheck()"
        >
          <nz-form-item>
            <nz-form-control>
              <div style="display: grid; grid-template-columns: auto 1fr">
                <div>
                  <input
                    nz-input
                    name="url"
                    type="url"
                    id="url"
                    placeholder="Enter a URL"
                    formControlName="url"
                  />
                </div>
                <div>
                  <button
                    [disabled]="
                      !userInputService.urlForm.valid ||
                      (userInputService.funscriptFile | async)?.name?.length ==
                        0
                    "
                    style="margin-left: 5px"
                    nz-button
                    nzType="primary"
                    type="submit"
                  >
                    Load Video
                  </button>
                </div>
              </div>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-breadcrumb-item>
    </nz-breadcrumb>

    <span class="file-name" *ngIf="video.value === undefined; else videoName">
      No video selected!</span
    >
    <span> Accepts video files and HLS streams.</span>
    <br />
    <br />
    <ng-template #videoName>
      <span class="file-name"> {{ (video | async)?.name }}</span>
    </ng-template>
    <app-video-player></app-video-player>
  </div>
