<div class="pb-12">
  <div class="m-4">
    <nz-card>
      <app-buttplug-control-panel></app-buttplug-control-panel>
    </nz-card>
  </div>

  <div class="m-4">
    <nz-card>
      <app-upload-container></app-upload-container>
    </nz-card>
  </div>

  <div class="m-4">
    <nz-card>
      <app-playback-container></app-playback-container>
    </nz-card>
  </div>
</div>

<div class="w-full flex gap-x-4 px-4 pt-2 border-t border-zinc-700 bg-zinc-900 mt-8">
    <a
    href="https://discuss.eroscripts.com/t/web-funscript-player-enjoy-funscript-videos-on-ios-android-web/35346"
    rel="noreferrer"
    target="_blank"
    class="text-blue-400 hover:text-blue-300 transition-colors"
    >
    <p class="text-sm md:text-base">Discussion Forum</p>
    </a>
    <a
    href="https://github.com/martinAlt335/funscript-player"
    rel="noreferrer"
    target="_blank"
    class="text-blue-400 hover:text-blue-300 transition-colors"
    >
    <p class="text-sm md:text-base">Github</p>
    </a>
</div>

<ngx-angular-roast
        [tutorialEnabled]="true"
        mode="remote"
        [displayMode]="displayMode"
        reportingUrl="https://roast-report.vercel.app/api/handler">
</ngx-angular-roast>
