<div class="container">
  <input
    type="file"
    style="display: none"
    #fsFileInput
    accept="funscript"
    (change)="onChangeFileInput('funscript')"
  />
  <br />
  <button
    mat-stroked-button
    class="file-select-button"
    (click)="onClickFileInputButton('funscript')"
  >
    Select funscript file
  </button>

  <span class="file-name" *ngIf="(userInputService.funscriptURL | async)?.name?.length == 0; else fileName">
    No funscript file selected!</span
  >

  <ng-template #fileName>
    <span class="file-name"> {{ userInputService.funscriptURL.value.name }}</span>
  </ng-template>
</div>

<div class="container">
  <br />
  <input
    type="file"
    style="display: none"
    #videoInput
    accept="video/*"
    (change)="onChangeFileInput('video')"
  />
  <br />
  <button
    mat-stroked-button
    class="file-select-button"
    [disabled]="(userInputService.funscriptURL | async)?.name?.length == 0"
    (click)="onClickFileInputButton('video')"
  >
    Select video
  </button>

  <span class="file-name" *ngIf="video.value === undefined; else videoName">
    No video selected!</span
  >

  <ng-template #videoName>
    <span class="file-name"> {{ (video | async)?.name }}</span>
  </ng-template>

  <form
    [formGroup]="urlForm"
    (ngSubmit)="submitURL()"
    (change)="cdr.markForCheck()"
  >
    <mat-form-field class="example-full-width" appearance="standard">
      <mat-label>Video URL</mat-label>
      <input
        id="url"
        type="url"
        matInput
        placeholder="Enter a URL"
        formControlName="url"
      />
    </mat-form-field>
    <button
      [disabled]="!urlForm.valid || (userInputService.funscriptURL | async)?.name?.length == 0"
      style="margin-left: 5px"
      mat-stroked-button
      type="submit"
    >
      Load Video
    </button>
    <span> Accepts video files and HLS streams.</span>
  </form>
</div>
