<div class="playback-section">
  <ng-container *ngIf="videoUrl; else noVideo">
    <div class="md:max-w-2xl mx-auto">
      <app-video-player
        [sourceUrl]="videoUrl"
        [mimeType]="$any(mimeType)"
        (currentTimeMs)="handlePlaybackTimeUpdate($event)"
        (paused)="handlePlaybackPause()"
      ></app-video-player>
    </div>
  </ng-container>
  <ng-template #noVideo>
    <app-funscript-playback-controller
      [maxTime]="funscriptDuration"
      (currentTimeMsOutput)="handlePlaybackTimeUpdate($event)"
      (pause)="handlePlaybackPause()"
    ></app-funscript-playback-controller>
  </ng-template>

  <div class="md:max-w-2xl mx-auto" *ngIf="funscript">
    <app-funscript-heatmap
      class="w-full"
      [heightPx]="80"
      [funscript]="funscript"
    ></app-funscript-heatmap>
  </div>

    <div class="md:max-w-2xl mx-auto flex items-center justify-between mt-2" *ngIf="funscript">
        <div class="flex items-center">
            <span class="mr-2">Invert Script:</span>
            <nz-switch
                [(ngModel)]="funscriptService.invertFunscriptActions"
                nzCheckedChildren="On"
                nzUnCheckedChildren="Off">
            </nz-switch>
        </div>
        <div class="text-sm text-gray-400">
            Toggle if the script plays upside down
        </div>
    </div>
</div>
