<div class="video-container" *ngIf="userInputService.videoURL | async">
  <vm-player
    *ngIf="!reload"
    #player
    (vmCurrentTimeChange)="onTimeUpdate($event)"
    muted
    theme="dark"
    style="--vm-player-theme: #2a7bc6"
  >
    <vm-video *ngIf="!(playerStatus | async)?.error; else hls">
      <source
        (error)="logError('standard', $event)"
        [src]="
          sanitizer.bypassSecurityTrustUrl(userInputService.videoURL.value)
        "
        type="video/mp4"
      />
    </vm-video>

    <ng-template #hls>
      <vm-hls
        (vmError)="logError('hls', $event)"
        *ngIf="userInputService.videoURL.value"
        version="latest"
      >
        <source
          [src]="
            sanitizer.bypassSecurityTrustUrl(userInputService.videoURL.value)
          "
          type="application/x-mpegURL"
        />
      </vm-hls>
    </ng-template>

    <vm-ui>
      <vm-default-ui noLoadingScreen="true">
        <vm-dbl-click-fullscreen></vm-dbl-click-fullscreen>
      </vm-default-ui>
    </vm-ui>
  </vm-player>
</div>
