<div class="video-container" *ngIf="videoService.videoURL | async">
  <vm-player
    *ngIf="!reload"
    #player
    (vmCurrentTimeChange)="onTimeUpdate($event)"
    muted
    theme="dark"
    style="--vm-player-theme: #e86c8b"
  >

<!--    <vm-hls version="latest" poster="https://media.vimejs.com/poster.png">-->
<!--      <source [src]=sanitizer.bypassSecurityTrustUrl(videoService.videoURL.value) type="application/x-mpegURL" />-->
<!--    </vm-hls>-->

    <vm-video poster="https://media.vimejs.com/poster.png">
      <source
        [src]="sanitizer.bypassSecurityTrustUrl(videoService.videoURL.value)"
        type="video/mp4"
      />
    </vm-video>

    <vm-default-ui></vm-default-ui>
  </vm-player>
</div>
